body {
    color: black;
    text-align: center;
    background-color: #bfd9bf;
    
  }
main {
    background-image: url("assets\images\fondo_playamdp.jpg");
    background-repeat: no-repeat;
    position: relative;
    width: 95%;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
}
#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid white;
  padding: 2% 2% 2% 2%;
  margin: auto;
  background-color:gray;
  width: 90%;
  border-radius: 10px;
}

.collapse.navbar-collapse{
  margin-left: 60%;
}
.d-flex.flex-row.mb-3 img {
  width: auto;
  height: 150px;
  object-fit: cover;
  margin: 15px 8px 8px 8px;
  padding: 4px;
  border-radius: 10%;
 
}
.figure-caption{
  color: white;
  font-weight: bold;
}
  h1 {
    color: white;
    font-size: 27px;
    background-color: black;
    padding: 10px;
    }


  h2 {
    padding: 10px;
    background-color:rgba(17, 16, 16, 0.1);
    font-family: Impact, serif;

  }  
  
  /*
  a:hover {
    color: gray; 
  }
  a:visited {
    color: white
  }
  */
  .nav-link.active {
    font-weight: bolder;
    font-style: italic;
  }

article {
  border: solid white;
  margin: 0 10% 0 10%;
}
article p, li{
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}
h5 {
  margin-top: 4%;
  text-decoration-line: underline;
}
footer .img-thumbnail {
  margin: 15px 8px 8px 8px;
  padding: 4px;
  border-radius: 10%;

}
@media (max-width: 800px) {
  #card img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #card img {
    width: 100%;
  }
}
