body {
    color: black;
    text-align: center;
    background-color:rgba(235, 237, 243, 0.95);
  /*background-image: url(https://img.freepik.com/foto-gratis/confeti-estrella-brillante-sobre-fondo-acuarela-pastel-abstracto-colorido_53876-98173.jpg?w=2000);*/
    font-family: Arial, Helvetica, sans-serif ;
    
  }
  a {
    text-decoration: none;
  }
 figure:hover {
    border: solid white; 
    
  }

  a.nav-link.active:hover {
    background-color: rgba(95, 110, 157, 0.993);
    
  }

main {
    position: relative;
    width: 95%;
    height: 610px;
    margin-left: auto;
    margin-right: auto;
}
#card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: solid white;
  padding: 2% 2% 2% 2%;
  margin: auto;
  background-color:gray;
  width: 90%;
  border-radius: 10px;
}
.navbar.navbar-expand-lg.bg-success{
  background-color:rgba(102, 111, 213, 0.772) !important;
} 

.collapse.navbar-collapse{    /*links navbar*/
  margin-left: 70%;
}
h1 {
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: black;
  padding: 10px;
  }

h2 {
  padding: 10px;
  background-color:rgba(17, 16, 16, 0.1);
  font-family: Impact, serif;
}  
h5 {
  margin-top: 4%;
  color: rgb(255, 255, 255);
  background-color: gray;
  /*text-shadow: rgb(122, 122, 122) 4px 3px 0px;*/
} 

h6 {
  font-weight: bold;
}

.d-flex.flex-row.mb-3 img {   /*fotolinks a secciones*/
  width: auto;
  height: 150px;
  object-fit: cover;
  margin: 15px 8px 8px 8px;
  padding: 4px;
  border-radius: 10%;
 
}


.figure-caption{               /*texto de las fotos links*/
  color: white;
  font-weight: bold;
}

article {
  border: solid white;
  margin: 0 10% 0 10%;
}
article p, li{
  text-align: justify;
  margin-left: 3%;
  margin-right: 3%;
}

#footer{
  text-align: end; 
 
}
.subir {
  color:whitesmoke;
  background-color:  rgba(95, 110, 157, 0.993);
  padding: 10px;
  margin: 10px;
  border: 1px solid;
  border-radius: 6px;

}
.subir:hover{
  color: rgba(95, 110, 157, 0.993);
  background-color: whitesmoke;
}

@media (max-width: 800px) {
  #card img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  #card img {
    width: 100%;
  }
}
