body {
    color: black;
    text-align: center;
         }

  h1 {
    color: white;
    text-align: center;
    font-size: 27px;
    background-color: black;
    padding: 10px;
    
          }   
  h2 {
    color: black;
    text-align: center;
    padding: 10px;
    background-color:rgba(17, 16, 16, 0.1)
    
          }  
    
   
  h3 {
    color: white;
    }
  
    a:hover {
    color: blue; 
    }
